<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Signup">

<listeners>
<listener class-name="Utilities.Listeners"/>
</listeners>


  <test name="LoginTest">
    <classes>
      <class name="com.interview.com.facebook.LoginTest"/>
       </classes>
  </test> <!-- Name -->
  
 <test name="NameTest">
    <classes>
    <class name="registrationTest.FirstAndLastNameTest"/>
       </classes>
  </test> <!-- Registration -->
  
  <test name="Mobile Number Test">
    <classes>
    <class name="registrationTest.MobileNumberTest"/>
       </classes>
  </test> <!-- Registration -->
  
  <test name="Password Test">
    <classes>
    <class name="registrationTest.PasswordTest"/>
       </classes>
  </test> <!-- Registration -->
  
  <test name="BirthdayTest">
    <classes>
    <class name="registrationTest.BirthdayTest"/>
       </classes>
  </test> <!-- Registration -->
  
  <test name="Male and Female Test">
    <classes>
    <class name="registrationTest.MaleOrFemale"/>
       </classes>
  </test> <!-- Registration -->
  
  <test name="Submit Test">
    <classes>
    <class name="registrationTest.SubmitTest"/>
       </classes>
  </test> <!-- Registration -->
  
  
  
  
</suite> <!-- Signup -->
