<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Signup">

<listeners>
<listener class-name="Utilities.Listeners"/>
</listeners>


  <test name="LoginTest">
    <classes>
      <class name="com.interview.com.facebook.LoginTest"/>
       </classes>
  </test> <!-- Name -->
  
 
  
   <test name="BirthdayTest">
    <classes>
 <class name="registrationTest.BirthdayTest"/>
       </classes>
  </test> <!-- Registration -->
  
  
  
  
</suite> <!-- Signup -->
