<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="facebook.Listeners"/>
</listeners>

<listeners>
<listener class-name="resources.ExtentReporterNG"/>
</listeners>


  <test name="validation">
    <classes>
      <class name="facebook.ValidateTitleTest"/>
      </classes>
       </test>
       
       <test  name="Login">
    <classes>
      <class name="facebook.LogInTest"/>
      </classes>
          </test>
             
     <test  name="HomePage">
    <classes>
             
      <class name="facebook.HomePage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
